
.post-mansonry .elementor-post {
    padding-right: 40px;
    padding-bottom: 50px;
}

.post-mansonry .elementor-post__thumbnail__link {
    width: 30%;
}


.post-mansonry .mansonry-post__thumbnail {
    max-width: 195px;
    max-height: 195px;
    text-align: center;
    padding:10px;
}

.post-mansonry .mansory-post__title {
    font-size: 1.2em;
}

.post-mansonry .list-inline-item {
    font-size: 0.9em;
}

.post-mansonry .mansonry-post__thumbnail__link{
    width:100%;
    display:block;
}
.post-mansonry .mansonry-post__thumbnail__link img{
    width:100%;
    height:100%;
}

@media only screen and (max-width: 426px) {
    .post-mansonry .slick-arrow {
        display: none !important;
    }
    .post-mansonry .mansonry-post__thumbnail{
        text-align: center;
    }
    .post-mansonry .mansonry-post__thumbnail .slick-slide img{
        display:inline-block !important;
    }
}